@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
::-webkit-inner-spin-button {
  appearance: none;
}

.big-ticket {
  --r: 12px; /* cut size */
  width: 12.25rem;
  aspect-ratio: 3;
  border-radius: 2px;
  background: #fff;
  mask: radial-gradient(var(--r) at var(--r), #0000 calc(100% - 1px), #000)
    calc(-1 * var(--r));
}

.the-ticket {
  --r: 10px; /* cut size */
  --h: 200px;
  --offset: calc(50%-20px);
  width: 355px;
  height: var(--h);
  border-radius: 16px;

  mask: radial-gradient(var(--r) at var(--r) 37%, #0000 calc(110% - 1px), #000)
    calc(-1 * var(--r));
  /* mask: radial-gradient(var(--r) at var(--r), #0000 calc(110% - 1px), #000)
    calc(-1 * var(--r)); */
}

.small-ticket {
  --r: 5px; /* cut size */
  --h: 40px;
  --offset: calc(50%-20px);
  width: calc(2 * var(--h));
  height: var(--h);

  mask: radial-gradient(var(--r) at var(--r) 50%, #0000 calc(120% - 1px), #000)
    calc(-1 * var(--r));
  /* mask: radial-gradient(var(--r) at var(--r), #0000 calc(110% - 1px), #000)
    calc(-1 * var(--r)); */
}
